'.source.julia':
  'Bang':
    'prefix': '#!'
    'body': """#! /usr/bin/env julia
    $1"""
  'Multi-line comment':
    'prefix': '#='
    'body': """#=
    $1
    =#"""
   'Use':
      'prefix': 'using'
      'body': """using ${1:module}
      $2"""
   'Include':
      'prefix': 'include'
      'body': """include("${1:file}")
      $2"""
   'Typed':
      'prefix': 'ty'
      'body': '${1:var}::${2:type}'
   'Type':
      'prefix': 'type'
      'body': """type ${1:name}
         $2
      end"""
   'Type (immutable)':
      'prefix': 'imm'
      'body': """immutable ${1:name}
         $2
      end"""
